{% extends "layout.html" %}
{% block content %}

<div>
    

    <h1 style="color: white; margin: 0; text-align: center">About</h1>
    <div class = "visualiser_container">

        <p class="text" style="text-align: center;"> Pandora : ML Chatbot for Mental Health </p> <br><br>
        <p class="text"> In today's fast-paced, interconnected world, mental health problems have become increasingly prevalent, demanding the attention of 
            healthcare professionals, politicians, and technology developers. One promising solution to addressing mental health issues is the utilization of chatbots, 
            which can offer accessible, cost-effective support for individuals in need.
            This Chatbot named Pandora is one such ML-powered software application that can simulate human conversation, offering users an interactive and engaging platform 
            to discuss their thoughts, feelings, and concerns. Pandora has been trained in a very small dataset that is very specific to mental health and thus unable to respond
            to conversations outside the trained topic. I plan on improving Pandora by training it on a larger relevant training data set and improving its model such as implementing keyword 
            tagging to better identify and respond to queries. 
        </p> <br><br>
        <p class="text"> This project is part of my final year project for the BSc Computer Science course at Cardiff University</p>
        <p class="text"> Code available here at: <a href="https://github.com/Revan0907/Pandora">https://github.com/Revan0907/Pandora</a></p><br>

    </div>
        
</div>

<p style="text-align: center; text-decoration: underline; color: rgb(2, 150, 2); font-size: 20px;" > Project by: </p>

<div class="aboutpage">
    <p>Aryamaan Sinha </p>
</div>


{% endblock content %}
