<html lang="en" dir="ltr">
    <head>
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'style.css') }}">
        <title>Pandora : Mental Health Chatbot</title>
    </head>
    <body>

        <div id="Sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href = "{{ url_for('home') }}">Home</a>&nbsp;
            <a href = "{{ url_for('chatpage') }}">Talk to Pandora</a>&nbsp;
            <a href = "{{ url_for('about') }}">About</a>&nbsp;
        </div>

        <div class="navPanel" id="header">
            <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
            <p style="font-size: 14px;">Hello visitor!   </p>
            <p style="color: green; font-family: 'Open Sans', sans-serif; margin-left: 23%; font-size: 28px;">Pandora : Mental Health Chatbot</p>&nbsp;
        </div>

        <script>
        function openNav() {
          document.getElementById("Sidebar").style.width = "250px";
          document.getElementById("header").style.marginLeft = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
          document.getElementById("Sidebar").style.width = "0";
          document.getElementById("header").style.marginLeft = "0";
        }
        </script>

        <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>

        <div id = "content">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>

