{% extends "layout.html" %}
{% block content %}

<div class="wrap">
    

    <h1 style="color: white; margin: 0; text-align: center">About page</h1>
    <div class = "visualiser_container">

        <p class="text" style="text-align: center;"> Pandora : ML Chatbot for Mental Health </p> <br><br>
        <p style="text-align: center; text-decoration: underline; color: rgb(2, 150, 2); font-size: 20px;" > Project by: </p>
        
</div>

<div class="aboutpage">
    <p>Aryamaan Sinha </p>
</div>


{% endblock content %}
