{%extends "layout.html" %}
{%block content%}
    <div class="page-container">

        <div class="chat-container">

            <div class="chat-messages">
                {% for i in range(session["users-msg"]|length) %}
                <div class="user-message">
                    <span class="message-content">{{ session["users-msg"][i] }}</span>
                </div>

                <div class="chatbot-message">
                    <span class="message-content">{{ session["bot-msg"][i] }}</span>
                </div>
                <br><br>
                {% endfor %}

            </div>

            <div class="user-input">

                <form method="POST">
                    <input type="text" class="user-input" name="user_int" placeholder="Type your message here">
                    <input type="submit" class="send-button">Send</button>
                </form>

            </div>

        </div>

    </div>

    <hr class="dotted">
    <footer style="text-align:center; color: aliceblue;">For further suggestions & improvements, please contact me here- <b>sinhaa10@cardiff.ac.uk</b> </footer>

{%endblock content%}